# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv/
env/
venv/

# Poetry
poetry.lock

# Test and coverage reports
.coverage
htmlcov/

# IDEs/editors
.vscode/
.idea/
config/